Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox*
tmp
.Trash
.m2
.node-gyp
.npm
.rvm
.ssh
.gem
.cups
.bro
.dbshell
.heroku
.rnd
.recently-used
.DS_STORE
.bash_history
.gitconfig
.WebStorm10
.CFUserTextEncoding
.node_repl_history
.ovftool.ssldb
.viminfo
