Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
VirtualBox*
tmp
.Trash
.swp
.m2
.node-gyp
.npm
.rvm
.ssh
.gem
.cups
.bro
.dbshell
.heroku
.rnd
.recently-used
.DS_STORE
.bash_history
.bash_sessions
.gitconfig
.WebStorm10
.CFUserTextEncoding
.node_repl_history
.ovftool.ssldb
.viminfo
.config
.oracle_jre_usage
.atom
.kdiff3rc
.vagrant.d
.sqlite_history
.docker
.fctsslvpnhistory
.electron

