Applications
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
VirtualBox*
tmp
.aws
.Trash
.swp
.local
.m2
.node-gyp
.npm
.nvm
.rvm
.ssh
.tooling
.gem
.cups
.bro
.dropbox
.dbshell
.heroku
.rnd
.recently-used
.DS_STORE
.bash_history
.bash_sessions
.WebStorm10
.CFUserTextEncoding
.node_repl_history
.ovftool.ssldb
.viminfo
.config
.oracle_jre_usage
.atom
.kdiff3rc
.vagrant.d
.sqlite_history
.docker
.fctsslvpnhistory
.electron
.homebrew_analytics_user_uuid
.pylint.d
.lesshst
.vscode
.v8flags*
.subversion
.skipbuddy
.psql_history
.zoomus
.cisco
.anyconnect
.kube

# Exceptions
.ssh/config

